<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ecig.demo.companyBasicInfo.mapper.CompanyBasicInfoMapper">

    <select id="gethotEnterprise" resultType="com.cn.ecig.demo.companyBasicInfo.entity.CompanyBasicInfo">
SELECT *
FROM companyBasicInfo
ORDER BY RAND()
LIMIT #{num};
    </select>
    <select id="getInfoByLabel2" resultType="com.cn.ecig.demo.companyBasicInfo.entity.CompanyBasicInfo">
select *
from companyBasicInfo
<where>
    <if test="industry !=null and industry !=0">

       <foreach collection= "list" open="(" separator="," close=")" item="in">
           and industry =#{in}
        </foreach>
    </if>
    <if test="area !=null and area!=0">

        <foreach collection="list" open="(" separator="," close=")" item="ar">
            and area = #{ar}
    </foreach>
    </if>
    <if test="transferMode!=null and transferMode!=0">

        <foreach collection="list" open="(" separator="," close=")" item="tr">
            and transferMode =  #{tr}
        </foreach>
    </if>
</where>
    </select>
</mapper>
