<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ecig.demo.companyEvaluation.mapper.CompanyEvaluationMapper">

    <select id="getGoodRankByNum" resultType="com.cn.ecig.demo.companyEvaluation.entity.Comp_three">
SELECT `name`,shortName,companyEvaluation.`code`
FROM `companyEvaluation`
left join companyBasicInfo
on companyBasicInfo.`code`=companyEvaluation.`code`
ORDER BY score DESC
    </select>
    <select id="getBasicByCode" resultType="com.cn.ecig.demo.companyEvaluation.entity.Comp_three">
SELECT `name`,companyEvaluation.`code`
FROM `companyEvaluation`
left join companyBasicInfo
on companyBasicInfo.`code`=companyEvaluation.`code`
where companyEvaluation.code = #{code}
    </select>
    <select id="getFollows" resultType="com.cn.ecig.demo.companyEvaluation.entity.Comp_three">

    </select>
</mapper>
